<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>
<h1>Login</h1>
<form action="/auth/login" method="POST">
    <label>Login: <input id="login" name="login" type="text" placeholder="batman" required/></label><br/>
    <label>Password: <input id="password" name="password" type="password" placeholder="your password" required/></label><br/>
    <button id="loginBtn" type="submit">Login</button>
</form>
<div id="result">
    {{# if message }}
        <p>{{ message }}</p>
    {{/ if }}
</div>
</body>
</html>